.package-container{
    width: 100%;
    height: 100%;
    min-height: calc(100% - 60px);
    padding: 0 15px;
    background: #E5E9F2;
}

.container{
    width: 100%;
    /* min-width: 500px; */
    height: calc(100vh - 60px);
    /* border: 1px solid; */
    /* overflow: auto; */
}
.header-info{
    width: 100%;
    height: 150px;
    /* border:  1px solid #455; */
    padding: 0 15px;
}
.content-info{
    width: 100%;
    height: calc(100% - 150px);
    min-height: 200px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.content-top{
    width: 100%;
    height: 40px;
    min-height: 40px;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options-left{
    height: 100%;
}
.button-create{
    width: 145px;
    height: 100%;
}
.options-right{
    height: 100%;
    display: flex;
    gap: 5px;
}
.option-list{
    width: 40px;
    height: 100%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option-card{
    width: 40px;
    height: 100%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-body{
    width: 100%;
    height: calc(100% - 100px);
    border: 1px solid #D8DCE6;
    overflow: auto;
    margin-top: 15px;
    border-radius: 5px;
    background: #fff;
}

.content-button{
    width: 100%;
    height: 60px;
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;
}



  
  .button-edit,
  .button-delete {
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-flex; /* Alinea los botones en línea */
    align-items: center;
  }

  .button-edit { 
    background-color: orange;
  }

  .button-delete {
    background-color: red;
  }
  
  .button-create i,
  .button-edit i,
  .button-delete i {
    margin-right: 5px;
  }
  
  .button-create:hover,
  .button-edit:hover,
  .button-delete:hover {
    background-color: #0056b3;
  }

  table {
    width: 100%;
  }

  tbody {
    text-align: center;
  }


  /* Package.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal h2 {
    margin-bottom: 20px;
  }
  
  .modal label {
    display: block;
    margin-bottom: 5px;
  }
  
  .modal input,
  .modal textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .modal button {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal button.button-close {
    background-color: #f44336;
  }
  


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal h2 {
    margin-bottom: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-delete,
  .button-cancel {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .button-delete {
    background-color: #ff4d4f;
    color: white;
  }
  
  .button-cancel {
    background-color: #d9d9d9;
    color: #333;
  }


 
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px; /* Ajusta según sea necesario */
  }
  
  th, td {
    padding: 12px; /* Ajusta según sea necesario */
    text-align: left;
  }
  
  /* Alternar el sombreado de las filas */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Línea debajo de cada fila */
  tbody tr {
    border-bottom: 1px solid #ddd; 
  }
  